
<div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-login">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                             <h2>Login</h2>
                                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                                        <div *ngIf="(f.submitted && !username.valid) || resetFailed" class="help-block">Username is required</div>
                                    </div>
                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                                    </div>
                                    <div class="form-group">
                                        <button [disabled]="loading" class="btn btn-primary" >Login</button>
                                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                                        

                                    </div>
                                    <!--
                                    <div *ngIf="error" class="alert alert-danger">
                                        {{error}} <br/> If first time login, Please goto 
                                        <a (click)="gotoRegister()">Register</a>
                                    </div>
                                    -->
                                </form>
                                <!--<button class="btn btn-primary" [routerLink]="['/resetPassword']">Reset/Forget Password</button>
                                -->
                                <button type="button" class="btn btn-primary" 
                                (click)="resetPass(model.username)"
                                data-toggle="modal" data-target="#resetModal">Reset/Forget Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
-->

<!-- Modal -->
<!--
<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetModalLabel">Reset Password Mail Sent</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        We have sent password reset email, Please check your email
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
-->