<form id="resetPassword-form" (ngSubmit)="resetPassword()" >
    <div class="form-group">
        <input type="text" name="username" id="username" tabindex="1" 
        required
        class="form-control" placeholder="Username" 
        [(ngModel)]="signupUser.username">
    </div>
    <div class="form-group">
        <input type="password" name="password" id="password" tabindex="3" class="form-control" placeholder="Password" 
        required
        [(ngModel)]="signupUser.password"
        >
    </div>
    <div class="form-group">
        <input type="password" name="confirm-password" 
        id="confirm-password" tabindex="4" class="form-control" placeholder="Confirm Password" 
        [(ngModel)]="confirm_password" required>
    </div>
    <div *ngIf="signupUser.password != confirm_password"
         class="alert alert-danger">
      Confirm Password should be same as Password
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                
                <input type="submit" name="resetPassword-submit" id="resetPassword-submit" class="form-control btn btn-primary" value="Update Password">
            </div>
        </div>
    </div>
</form>
