<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-primary text-center">
				Welcome to Nakshatra Academy
			</h3>
			<h6 class="text-secondry text-center">
				ONLINE COACHING CENTER FOR Group 1A/1B, Group 2, Group 3
			</h6>
			<p>
				A warm welcome to All Aspirants.
			</p>
			<p>
				We are providing below <b>Services</b>.
			</p>
			<table class="table table-bordered">
				<!--<thead>
					<tr>
						<th>
							Services
						</th>
					</tr>
				</thead>
				-->
				<tbody>
					<tr class="table-active">
						<td>
							Online Classes (Ex: Visit Resources Tab)
						</td>
					</tr>
					<tr class="table-success">
						<td>
							Online Exams
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							Followup sessions
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>




