<div class="container" *ngIf="!examSubmit">
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			Registration Id TEST
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			{{exam.examName}}
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<app-timer></app-timer>
		</div>
	</div>
	<div class="row ">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        	    <!-- <div class="exambox"> -->
	        	<div class="row card" style="width: 100%;">
		       	<div *ngFor="let question of questions; let i = index ">
		       		<div class="col-xs-1">
		        		<button type="button" 
		        		class="btn btn-secondary" 
		        		[ngStyle]="{'background-color':question.isAnswered ? 'LawnGreen' : 'AntiqueWhite' }" 
		        		(click)="gotoQuestion(i)">
		        			
		        			{{i+1}}
		        			
		        		</button>
		       		</div>
		       	</div>
		       </div>
	        <!-- </div> -->
		</div>
    
	    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
	        <div id="exam">
				<div *ngFor="let question of questions | paginate: { itemsPerPage: 1, currentPage: p }; let i = index ">
					<div class="">Question {{p}} of {{questions.length}}</div>
					<div class="row">
						<div class="col-md-12 question">
							<h5>{{p}}. <span>{{question.questionDesc}}</span></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 text-left options" *ngFor="let option of question.options">
							<div class="option">
								<label class="" for="{{option.id}}"></label>
								<input type="checkbox" name="{{option.id}}" 
								[(ngModel)]="option.selected"
								(change)="onSelect(question, option)" />
								{{option.optionDesc}}
							</div>
						</div>
					</div>
				</div>
				<pagination-controls (pageChange)="p = $event"></pagination-controls>
			</div>
	    </div>
    </div>
    <div class="row">
    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-md-left">
    		<button class="btn btn-primary" (click)="endExam()">End Exam</button>
    	</div>
    </div>
</div>
`	<div class="container-fluid" *ngIf="examSubmit">
	<h3><span>Exam Submitted</span></h3>

	
		<div *ngFor="let question of resultQuestions; let i = index ">
			<div class="row" *ngIf="question.correctAnswered">
				
					<div class="col-md-12 badge badge-dark">
						<h5><span class="">{{question.questionDesc}}</span></h5>
					</div>
				
					<div class="col-md-12 text-left options badge badge-light" *ngFor="let option of question.options"> 

							<h6><span [ngClass]="(option.userSelect && option.answer) ? 'text-success' : ((option.answer) ? 'text-success' : ((option.userSelect) ? 'text-warning' : 'text-muted'))">{{option.optionDesc}}</span>
							</h6>
							
					</div>
				
				
					<div class="col-md-12">
						<span class="badge badge-pill badge-success">Your Answer is Correct</span>
					</div>
				
			</div>
			<div class="row" *ngIf="!question.correctAnswered">
				

					<div class="col-md-12 badge badge-dark">
						<h5><span class="">{{question.questionDesc}}</span></h5>
					</div>
				
				
					<div class="col-md-12 text-left options badge badge-light" *ngFor="let option of question.options">
						<h6><span [ngClass]="(option.userSelect && option.answer) ? 'text-success' : ((option.answer) ? 'text-success' : ((option.userSelect) ? 'text-warning' : 'text-muted'))">{{option.optionDesc}}</span>
						</h6>
						
					</div>
				
					<div class="col-md-12">
						<span class="badge badge-pill badge-danger">Your Answer is Wrong/ Not Answered</span>
					</div>
				
			</div>
		</div>
</div>
