<div>
  <div class="row">
      <div class="col-md-6">
        <input type="checkbox" [checked]="userEnabled" [(ngModel)]="userEnabled">Enabled
      </div>
    </div>

<div class="row">
            <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Registration Id</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Enable/Disable</th>
            <th scope="col">Delete User</th>
            <th scope="col">Resend Register Email</th>
          </tr>
        </thead>
        <tbody>
         <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }
         | enabledUsers : userEnabled ; let i = index ">
      	  <td>{{user.username}}</td>
      	  <td>{{user.userRegister.firstName}} {{user.userRegister.lastName}} </td>
          <td>{{user.userRegister.email}}</td>
          <td>{{user.userRegister.phoneNumber}}</td>
          <td scope="row">
            <button class="btn btn-primary" *ngIf="!user.enabled" (click)="enableUser(user.username, i)">Enable User</button>
            <button class="btn btn-primary" *ngIf="user.enabled" (click)="disableUser(user.username, i)">Disable User</button>
          </td>
          <td><button class="btn btn-primary" *ngIf="!user.enabled" (click)="deleteUser(user.username)">Delete User</button></td>
          <td><button class="btn btn-primary" *ngIf="!user.enabled" (click)="sendRegisterEmail(user.username)">Send Email</button></td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>