<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Subject</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Nov 5th to 11th</th>
      <td>
      <table class="table table-bordered">
        <tr>
          <td scope="col">భారత దేశ చరిత్ర</td>
          <td>రైతాంగ  ఉద్యమాలు ;   
              భారత జాతీయ  కాంగ్రెస్ స్థాపన , సమావేశాల  ప్రాధాన్యత ; 
               మితవాద యుగం  
               మితవాద నాయకులు. వారి   విజయాలు,  వైఫల్యాలు .  
          </td>
        </tr>
      </table>
      </td>
      
    </tr>
    <tr>
      <th scope="row">Nov 12 to 17</th>
      <td>
        <table class="table table-bordered">
        <tr>
          <td scope="col">భారత రాజ్యాంగం</td>
          <td>రాజ్యాంగ రచన  ,  అందులోని  ముఖ్య లక్షణాలు ,  ప్రవేశిక మరియు దీనికి  సంబంధిన ముఖ్యమైన cases  ,  ప్రాధమిక హక్కులు, ఆదేశ సూత్రాలు ,  ప్రాధమిక విధులు  -  వీటికి సంబంధించిన ముఖ్య cases   
          </td>
        </tr>
        <tr>
          <td>భారత దేశ ఆర్ధిక వ్యవస్థ</td>
          <td>పంచవర్ష ప్రణాళికలు;   1 - 4 ;  ప్రభుత్వ సంక్షేమ పథకాలు  మరియు  విధానాల ఫై ప్రతి  వారము  కొన్నిటికి మెటీరియల్ ఇవ్వబడుతుంది.</td>
        </tr>
        <tr>
          <td>భారత దేశ భౌగోళిక శాస్త్రం</td>
          <td>ఉనికి మరియు  నైసర్గిక స్వరూపం అధ్యాయం   హిమాలయాలు</td>
        </tr>
        <tr>
          కరెంటు అఫైర్స్
        </tr>
      </table>
      </td>
      
    </tr>
    <tr>
      <th scope="row">Nov 18 to 24</th>
      <td>
        <table class="table table-bordered">
        <tr>
          <td scope="col">భారత  రాజంగం</td>
          <td>రాష్ట్రపతి ,   ఉపరాష్ట్రపతి,  అత్యవసర పరిస్థితి, పార్లమెంట్ వ్యవస్థ లక్షణాలు,  రాజ్యాంగ మౌలిక స్వరూపం 
          </td>
        </tr>
        <tr>
          <td>భారత దేశ ఆర్ధిక వ్యవస్థ</td>
          <td>5  to  10   మరియు  11  వ ప్రణాళిక ఫై సమగ్ర విశ్లేషణ . </td>
        </tr>
        <tr>
          <td>భారత దేశ భౌగోళిక శాస్త్రం</td>
          <td> ద్వీప కల్పం ,  గంగ మైదానం   etc </td>
        </tr>
      </table>
      
      </td>
      
    </tr>
    <tr>
      <th scope="row">Nov 25 to Dec 2</th>
      <td>
        <table class="table table-bordered">
        <tr>
          <td scope="col">భారత  రాజ్యాంగం  </td>
          <td>సమాఖ్య  లక్షణాలు,  కేంద్ర రాష్ట్ర  సంబంధాలు మరియు   పార్లమెంటరీ వ్యవస్థ పరిచయం  
          </td>
        </tr>
        <tr>
          <td>భారత దేశ ఆర్ధిక వ్యవస్థ  </td>
          <td> భారత దేశం లో వ్యవసాయ రంగం  భూకమతాలు  మరియు  సంక్షేమ పథకాలు  </td>
        </tr>
        <tr>
          <td>భారత దేశ  భౌగోళిక శాస్త్రం  </td>
          <td>భారత దేశంలో   నది వ్యవస్థ  మరియు  జమ్మూ కాశ్మీర్,  పంజాబ్  రాష్ట్రాలు ;  ప్రతి  రాష్ట్రము  ఏ పంటల్లో ,  ఏ ఖనిజాల్లో, శక్తీ వనరుల్లో  ముందుందో  విశ్లేషణాత్మకం గా చెప్పడం జరుగుతుంది.  ఆ రాష్ట్రము జనాభాలో or  అక్షరాస్యతలో ముందుంటే చెప్పడం జరుగుతుంది.  ఆ రాష్ట్రము లోని పర్యాటక ప్రదేశాలు మరియు నేషనల్ పార్కులు  </td>
        </tr>
        
      </table>
      
      </td>
      
    </tr>
    <tr>
      <th scope="row">Dec 3 to Dec 9</th>
      <td>
        <table class="table table-bordered">
        <tr>
          <td scope="col">భారత రాజ్యాంగం </td>
          <td>పార్లమెంటరీ వ్యవస్థ  మరియు  రాష్ట్ర శాసన వ్యవస్థ   
          </td>
        </tr>
        <tr>
          <td>ఆర్ధిక వ్యవస్థ</td>
          <td>ఆంధ్రప్రదేశ్ లో  వ్యవసాయ రంగం</td>
        </tr>
        <tr>
          <td>భారత దేశ భౌగోళిక శాస్త్రం</td>
          <td>ఈశాన్య  రాష్ట్రాలు</td>
        </tr>
        
      </table>
      
      </td>
      
    </tr>
    <tr>
      <th scope="row">Dec 10 to 16</th>
      <td>
      <table class="table table-bordered">
        <tr>
          <td scope="col">భారత రాజ్యాంగం</td>
          <td>న్యాయ వ్యవస్థ ,  ట్రిబ్యునల్స్,  గ్రామీణ న్యాయాలయాలు 
     షెడ్యూల్ ప్రాంతాల పాలన,  రాజ్యాంగ బద్ద సంస్థలు
          </td>
        </tr>
        <tr>
          <td>ఆర్ధిక వ్యవస్థ</td>
          <td>భారత దేశం ,  ఏపీ  లో  పారిశ్రామిక రంగం</td>
        </tr>
        <tr>
          <td>భారత దేశ భౌగోళిక శాస్త్రం</td>
          <td>నార్తర్న్ స్టేట్స్</td>
        </tr>
        
      </table>
      
      </td>
      
    </tr>
    <tr>
      <th scope="row">Dec 17 to 23</th>
      <td>
        <table class="table table-bordered">
        <tr>
          <td scope="col">         భారత రాజ్యాంగం </td>
          <td>  పంచాయత్ రాజ్,  సంక్షేమ యంత్రాంగం మరియు రాజ్యాంగేతర సంస్థలు</td>
          
        </tr>
        <tr>
          <td>ఆంధ్రప్రదేశ్ చరిత్ర </td>
           <td>  ఆంధ్రప్రదేశ్ ప్రాచీన చరిత్ర మరియు  శాతవాహన యుగం </td>
        </tr>
        <tr>
          <td> ఆర్ధిక వ్యవస్థ </td> 
          <td>   ఏపీ  లో  పంచ వర్ష ప్రణాళికలు</td>
        </tr>
        <tr>
          <td>భారత దేశ భౌగోళిక శాస్త్రం</td> 
          <td>నార్త్ వెస్ట్  స్టేట్స్</td>
        </tr>
      </table>
      
      </td>
      
    </tr>
    <tr>
      <th scope="row">Dec 24 to 27</th>
      <td>
        <table class="table table-bordered">
        <tr>
          ఇంతవరకు  జరిగిన మొత్తం  సిలబస్   పునచ్చరణ  మరియు  tests
        </tr>
        </table>
      </td>
    </tr>
    <tr>
      <th scope="row">Dec 28 to 31</th>
      <td>
        <table class="table table-bordered">
        <tr>
          <td scope="col">ఆంధ్రప్రదేశ్ చరిత్ర</td>
          <td> శాతవాహన అనంతర యుగం 
          </td>
        </tr>
        </table>
       </td>
      
    </tr>
    <tr>
      <th scope="row">Jan 1 to 6</th>
      <td>
        <table class="table table-bordered">
        <tr>
          <td scope="col">ఆంధ్ర ప్రదేశ్  చరిత్ర </td>
          <td> 
            తూర్పు చాళుక్య యుగం   ,   చాళుక్య అనంతర యుగం,  కాకతీయ  యుగం, కాకతీయ  అనంతర యుగం,  విజయ నగర,  కుతుబ్ షాహీ యుగాలు  (  త్రీ  యూనిట్స్  ఎక్స్ట్రా  గా చెప్పడం జరుగుతుంది. ఈ  వీక్  candidates   ఎక్స్ట్రా రీడింగ్  చేయాల్సి ఉంటుంది)
            </td>
        </tr>
        <tr>
          <td>ఆర్హిక వ్యవస్థ </td>
          <td>  భారత దేశం  ద్రవ్య వ్యవస్థ </td>
        </tr>
        <tr>
          <td>భారత దేశ భౌగోళిక శాస్త్రం</td> 
          <td>ల్యాండ్ లాక్డ్ స్టేట్స్</td>
        </tr>
      </table>
      </td>
    </tr>
    <tr>
      <th scope="row">Jan 13 to 19</th>
      <td>
        <table class="table table-bordered">
        <tr>
          <td scope="col">ఆంధ్రప్రదేశ్  చరిత్ర </td> 
          <td>కంపెనీ  రాక,  పాలనా మరియు సంఘ సంస్కరణ  
          </td>
        </tr>
        <tr>
          <td>ఆర్ధిక వ్యవస్థ</td>
          <td>febraury  15  వరకు ఇండియా, ఏపీ ల  సర్వే, బడ్జెట్  ఎనాలిసిస్, gst ,  14 వ ఆర్ధిక సంఘం ,  మరియు  విత్త వ్యవస్థ ,  స్టాక్ ఎక్స్చేంజి, ఫారిన్ ట్రేడ్</td>
        </tr>
        <tr>
          <td>భారత దేశ భౌగోళిక శాస్త్రం</td>
          <td>వెస్ట్రన్ స్టేట్స్ </td>
        </tr>
        
      </table>
      

      </td>
      
    </tr>
    <tr>
      <th scope="row">Jan 20 to 26</th>
      <td>
        <table class="table table-bordered">
        <tr>
          <td scope="col">ఆంధ్ర ప్రదేశ్  చరిత్ర</td>
          <td>  జాతీయోద్యమం ఏపీ 
          </td>
        </tr>
        <tr>
          <td>భారత దేశ భౌగోళిక శాస్త్రం</td> 
          <td>  southern  స్టేట్స్  except ఏపీ</td>
        </tr>
        
      </table>
      
      </td>
      
    </tr>
    <tr>
      <th scope="row">Jan 27 to 31</th>
      <td>
        <table class="table table-bordered">
        <tr>
          <td scope="col">  ఆంధ్రప్రదేశ్ చరిత్ర</td>
          <td>జాతీయోద్యమం  ఇండియా ,  ఏపీ   ఆంధ్రప్రదేశ్ అవతరణ 
          </td>
        </tr>
      </table>
      
      </td>
      
    </tr>
    <tr>
      <th scope="row">Feb Month</th>
      <td>
        ప్రిలిమ్స్ వరకు  డైలీ  కరెంటు అఫైర్స్ ప్లస్  రెండు రోజుల కొకసారి  మొత్తం సిలబస్ pi   టెస్ట్  లు ఉంటాయి.   
 సైన్స్ అండ్ టెక్నాలజీ,  కాంటెంపరరీ అంటే  సమకాలీన అంశాలు  కావున కరెంటు  ఈవెంట్స్ లో కవర్ అవుతాయి.  
      
      </td>
      
    </tr>
  </tbody>
</table>
