.curriculum-item--title {
    flex: 1;
    min-width: 1px;
    order: 2;
    margin-right: 5px;
}
.card-header {
    padding: .1rem .1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.a-header {
    padding: .1rem .1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}