<div class="container">
	<div class="row">
		<div class="col-4">
			<div id="accordion" *ngFor="let sub of subjects; let i = index">
				<div class="card">
			    <div class="card-header" id="{{'heading' + i}}">
			      <h5 class="mb-0">
			        <button class="btn btn-primary" style="width:100%" data-toggle="collapse" 
					[attr.data-target] = "'#collapse' + i"
			        aria-expanded="true" 
			        [attr.aria-controls] = "'collapse' + i">
			          <label width="100%" >{{sub.name}}</label>
			        </button>
			      </h5>
			    </div>
			    
			    <div id="{{'collapse' + i}}" class="collapse show" 
			    [attr.aria-labelledby] ="'heading' + i" 
			    data-parent="#accordion">
			      <div class="card-body" *ngFor="let res of sub.subResource; let iS = index">
			        <a (click)="gotoVideo(res)" class="brand" style="cursor: pointer">{{res.name}}</a>
			      </div>
				</div>
			  </div>
			</div>
		</div>
		<div class="col-8" *ngIf="isLoadResource">
			<div class="row">
				<span class="badge badge-info">{{viewResource.name}}</span>
			</div>
			<div class="row">
			</div>
			<div class="row">
			<iframe id="videoDiv" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media" title="YouTube video player" width="100%" height="400px" 
			[src]="sanitizer.bypassSecurityTrustResourceUrl(viewResourceLink)"
			></iframe>
			</div>
		</div>
	</div>
</div>
