<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nakshatra Academy Account Reset Password</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

	<div class="container">

		<div class="starter-template">
			<h1>You have requested to Reset/Forgot password for Your account below</h1>
			<h2>
				<span th:text="'Registration Id ' + ${regId}"></span>
			</h2>
		</div>
		
		<div>
		To reset your password, click the link <span th:text="${appUrl}"></span> 
		</div>

	</div>

</body>
</html>