<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nakshatra Academy New Video Uploaded</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

	<div class="container">

		<div class="starter-template">
			<table width="100%" cellpadding="30">
				<tbody>
					<tr>
						<td align="center">
							<table width="100%" cellspacing="0" cellpadding="0"
								style="padding: 0px; padding-top: 0px; padding-bottom: 15px;">
								<tbody>
									<tr>
										<td>
											<table width="100%" cellpadding="0" cellspacing="0" style="">
												<tbody>
													<tr>
														<td bgcolor="">
															<div id="txtHolder-3" class="txtEditorClass"
																style="color: #666666; font-size: 14px; font-family: 'Arial'; text-align: Left">
																<b>New Video has been uploaded. In our www.nakshatraacademy.in , </b>
																Goto : Resources > Group2Classes > <span th:text="${subjectName}"/> > <span th:text="${videoName}"/>
															</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
							</div>
							<div class="cContent" id="cContent-4">
								<table width="100%" cellspacing="0" cellpadding="10">
									<tbody>
										<tr>
											<td align="Center" bgcolor="#f1f1f1">
												<div>
													<div id="txtHolder-4" class="txtEditorClass"
														style="color: #5d5d5d; font-size: 11px; font-family: 'Arial';">
														Thanks &amp; Regards,
														<div>Admin</div>
														<div>Nakshatra Academy</div>
														<div>Website: www.nakshatraacademy.in</div>
														<div>Email:admin@nakshatraacademy.in</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
			</tr>
			</tbody>
			</table>


		</div>

	</div>

</body>
</html>