<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Nakshatra Academy Welcomes You</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	</head>
	<body>

		<div class="container">

			<div class="starter-template">
				<table width="100%" cellpadding="30">
					<tbody>
						<tr>
							<td align="center">
								<table width="100%" cellpadding="0" cellspacing="0" style="">
									<tbody>
										<tr>
											<td bgcolor="">
												<div id="txtHolder-2" class="txtEditorClass" style="color: #000000; font-size: 26px; font-family: 'Impact'; text-align: Left">Welcome to Nakshatra Academy</div>
											</td>
										</tr>
									</tbody>
								</table>
								<table width="100%" cellspacing="0" cellpadding="0" style="padding: 0px; padding-top: 0px; padding-bottom: 15px;">
									<tbody>
										<tr>
											<td>
												<table width="100%" cellpadding="0" cellspacing="0" style="">
													<tbody>
														<tr>
															<td bgcolor="">
																<div id="txtHolder-3" class="txtEditorClass" style="color: #666666; font-size: 14px; font-family: 'Arial'; text-align: Left">
																	<b>Below is Your Registration Id, keep this information for further reference</b>
																	<br>
																	<span th:text="'Registration Id ' + ${regId}"/>
																	<br>
																		<div>
																			<br>
																			</div>
																			<div>We are providing below services</div>
																			<div>
																				<br>
																				</div>
																				<div>Online Exams</div>
																				<div>Online classes</div>
																				<div>Followup sessions<br>
																						<br>For details of how to make payment of Registration Fee, Please send email to <span style="text-decoration-line: underline;">admin@nakshatraacademy.in&nbsp;</span>
																							<div>
																								<span style="text-decoration-line: underline;">
																									<br>
																									</span>
																								</div>
																								<div>Once you make the payment of Registration Fee, we will activate your account. If You already paid, ignore this line.</div>
																								<div>
																									<br>
																									</div>
																								</div>
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="cContent" id="cContent-4">
															<table width="100%" cellspacing="0" cellpadding="10">
																<tbody>
																	<tr>
																		<td align="Center" bgcolor="#f1f1f1">
																			<div>
																				<div id="txtHolder-4" class="txtEditorClass" style="color: #5d5d5d; font-size: 11px; font-family: 'Arial';">Thanks &amp; Regards,<div>Admin</div>
																					<div>Nakshatra Academy</div>
																					<div>Website: www.nakshatraacademy.in</div>
																					<div>Email:admin@nakshatraacademy.in</div>
																				</div>
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>














				</div>

			</div>

		</body>
	</html>