<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Nakshatra Academy Welcomes You</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	</head>
	<body>

		<div class="container">

			<div class="starter-template">
				<table width="100%" cellpadding="30">
					<tbody>
						<tr>
							<td align="center">
								<table width="100%" cellpadding="0" cellspacing="0" style="">
									<tbody>
										<tr>
											<td bgcolor="">
												<div id="txtHolder-2" class="txtEditorClass" style="color: #000000; font-size: 26px; font-family: 'Impact'; text-align: Left">Welcome to Nakshatra Academy</div>
											</td>
										</tr>
									</tbody>
								</table>
								<table width="100%" cellspacing="0" cellpadding="0" style="padding: 0px; padding-top: 0px; padding-bottom: 15px;">
									<tbody>
										<tr>
											<td>
												<table width="100%" cellpadding="0" cellspacing="0" style="">
													<tbody>
														<tr>
															<td bgcolor="">
																<div id="txtHolder-3" class="txtEditorClass" style="color: #666666; font-size: 14px; font-family: 'Arial'; text-align: Left">
																	<b>Below is Your Registration Id, keep this information for further reference</b>
																	<br>
																		<span th:text="'Registration Id ' + ${regId}"/>
																		<br>
																			<div>
																				<br>
																				</div>
																				<h3><strong><span style="background-color:#00FF00;">We are providing below services</span></strong></h3>

																				<div>
																					<br>
																					</div>
																					<div>Online exams</div>
																					
																						<div>Online classes</div>
																						
																							<div>Followup sessions</div>

																							<div>
																								<span style="text-decoration-line: underline;">
																									<br>
																									</span>
																								</div>
																								<div>Once you make the payment of Registration Fee, we will activate your account.</div>
																								<div>

																									<h3><em><strong>If you already paid registration fee, Please ignore below.</strong></em></h3>

																									<h3><strong><span style="background-color:#00FF00;">Registration Fee</span></strong></h3>

																									<p><span><em>Go through the Instructions Document, attachment of this email.</em></span></p>

																									<p><span><em>Become a member when registering to this training, has to pay Rs. 200/-</em></span></p>

																									<h3><strong><span style="background-color:#00FF00;">Way of Payment</span></strong></h3>

																									<table border="1" cellpadding="0" cellspacing="0" style="width:720px;" width="720">
																										<tbody>
																											<tr>
																												<td colspan="7" style="width:720px;height:23px;">
																													<p><strong>BANK TRANSFER</strong></p>
																												</td>
																											</tr>
																											<tr>
																												<td colspan="7" style="width:720px;height:23px;"><strong>Account Holder:&nbsp;</strong>PRADEEP KUMAR REDDY NARREDDY</td>
																											</tr>
																											<tr>
																												<td colspan="7" style="width:720px;height:23px;"><strong>Account #&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:&nbsp;&nbsp;</strong>01331050157647</td>
																											</tr>
																											<tr>
																												<td colspan="7" style="width:720px;height:23px;"><strong>Bank Name&nbsp; &nbsp; &nbsp; &nbsp;:&nbsp;</strong>HDFC</td>
																											</tr>
																											<tr>
																												<td colspan="7" style="width:720px;height:23px;"><strong>Branch&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :&nbsp;</strong>JP Nagar, Bangalore</td>
																											</tr>
																											<tr>
																												<td colspan="7" style="width:720px;height:23px;"><strong>IFSC&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :&nbsp;</strong>HDFC0000133</td>
																											</tr>
																										</tbody>
																									</table>

																									<p>&nbsp;</p>

																									<table border="1" cellpadding="0" cellspacing="0" style="width:720px;" width="720">
																										<tbody>
																											<tr>
																												<td colspan="7" style="width:720px;height:23px;">
																													<p><strong>PAYTM TRANSFER / GOOGLE PAY</strong></p>
																												</td>
																											</tr>
																											<tr>
																												<td colspan="7" style="width:720px;height:23px;"><strong>Account Holder:&nbsp;</strong>PRADEEP KUMAR REDDY NARREDDY</td>
																											</tr>
																											<tr>
																												<td colspan="7" style="width:720px;height:23px;"><strong>Phone #&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:&nbsp;</strong>9535160543</td>
																											</tr>
																										</tbody>
																									</table>
																								</div>

																							</div>
																						</div>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="cContent" id="cContent-4">
														<table width="100%" cellspacing="0" cellpadding="10">
															<tbody>
																<tr>
																	<td align="Center" bgcolor="#f1f1f1">
																		<div>
																			<div id="txtHolder-4" class="txtEditorClass" style="color: #5d5d5d; font-size: 11px; font-family: 'Arial';">Thanks &amp; Regards,<div>Admin</div>
																				<div>Nakshatra Academy</div>
																				<div>Website: www.nakshatraacademy.in</div>
																				<div>Email:admin@nakshatraacademy.in</div>
																			</div>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>


			</div>

		</div>

	</body>
</html>