<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nakshatra Academy Welcomes You</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

	<div class="container">

		<div class="starter-template">
			<h1>Below is your Registration Id, keep this info for further reference</h1>
			<h2>
				<span th:text="'Registration Id ' + ${regId}"></span>
			</h2>
			<h2>
				Once you make the payment of Registration Fee, we will activate your account.
			</h2>
		</div>

	</div>

</body>
</html>