<div class="container h-100" style="align-items: center;">
	<div class="h-100 justify-content-center align-items-center">
	<div class="row">
		<h5><label>Connect with us:</label></h5>
	</div>
	<div class="row">
		For support or any questions:
	</div>
	<div class="row">
		
	</div>
	<div class="row">
		<h6>Email us at:</h6> 
		<label class="text-muted">{{contactUs.email1}}</label>
	</div>
	<div class="row">
		<h6>Phone us at:</h6>
		<label class="text-muted">{{contactUs.phone2}} / {{contactUs.phone1}}</label>
	</div>
	</div>
</div>
