<div *ngIf="!examStarted">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Exam Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  	<tr *ngFor="let exam of exams | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
      <th>{{exam.examName}}</th>
      <th scope="row">
      <button class="btn btn-primary" (click)="startExam(exam.id,registrationId)">Start Exam
      </button>
      </th>
    </tr>
    <tr><pagination-controls (pageChange)="p = $event"></pagination-controls></tr>
	</tbody>
</table>
</div>

<div class="container">
    <div>
    	<router-outlet></router-outlet>
    </div>
</div>


